<div class="container">
  <div class="row">
    <div class="col">
      <br><br><br>
      <h1>Editing User</h1>

      <%= render 'form', user: @user %>

      <%= link_to 'Back', @user %>
      <br>
    </div>
  </div>
</div>
