<div class="container">
  <div class="row">
    <br><br><br>
    <h2>Créer un nouvel événement</h2>

    <%= render 'form', event: @event %>

    <%= link_to 'Retour', events_path %>
    <br>
  </div>
</div>